<!-- Start >> Navbar -->
<nav id="navbar" class="navbar navbar-expand-lg mb-0">
    <!-- Start >> Navbar items -->
    <ul class="navbar-nav">
        <!-- Nav item side icon -->
        <li class="nav-item btn-menu ghost-primary icon-center" (click)="openSidebar()">
            <div class="nav-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </li>

        <li class="nav-item icon-center">
            <!-- Logo App -->
            <!-- <img class="user user-chip-md mr-2" src="" alt="you logo" /> -->
            <svg class="svgColor user user-chip-md mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 383.66 425.68">
        <path
          d="M383.53,213c0,26,.35,52-.11,77.91-.37,21-9.67,37.82-27.71,48.44q-67.92,40-136.54,78.77c-17.79,10.08-36.84,10.1-54.5.16q-69-38.81-137.1-79.17C10,328.65.54,311.91.34,291.35-.1,244.41.19,197.46.23,150.51c0-7.31-.73-14.68.4-21.94C3.53,110,12.5,95.22,29,85.66,74.22,59.5,119.32,33.18,164.75,7.46c17.79-10.07,36.88-9.85,54.51.08Q288,46.24,355.94,86.43c17.5,10.33,26.88,26.79,27.38,47.12.65,26.46.16,52.95.16,79.42Z" />
        <path d="M315.77,212.69A123.94,123.94,0,1,1,191.93,88.9,123.94,123.94,0,0,1,315.77,212.69Z" fill="#fff" />
        <path
          d="M252.83,213.13a60.8,60.8,0,0,1-61.14,60.67c-33.87,0-60.84-27.29-60.8-61.51,0-33.49,27.44-60.46,61.38-60.43C225.83,151.9,252.85,179.23,252.83,213.13Z" />
      </svg>
        </li>
    </ul>
    <!-- End >> Navbar items -->

    <!-- Start >> Dropdown menu -->
    <div class="dropdown dropdown-animate menu-large">

        <a *ngIf="containsRole('SuperAdmin,CompanyAdmin,PropertyUser')" class="nav-link" href="javascript:void(0);" role="button" id="dropdownApplication" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Inmuebles
      <i class="dropdown-toggle-icon fi-rr-angle-down"></i>
      <i class="dropdown-toggle-icon fi-rr-angle-up"></i>
    </a>
        <div class="dropdown-menu dropdown-menu-arrow p-lg-3" aria-labelledby="dropdownApplication">
            <a *ngIf="containsRole('SuperAdmin,CompanyAdmin,PropertyUser')" class="dropdown-item" href="javascript:void(0);" [routerLink]="['/Properties/property']">Inmuebles</a>
            <a *ngIf="containsRole('SuperAdmin,CompanyAdmin,PropertyUser')" class="dropdown-item" href="javascript:void(0);" [routerLink]="['/Properties/images']">Imagenes</a>
            <div *ngIf="containsRole('SuperAdmin')" class="dropdown-divider"></div>
            <a *ngIf="containsRole('SuperAdmin')" class="dropdown-item" href="javascript:void(0);" [routerLink]="['/Commons/state']">Departamentos</a>
            <a *ngIf="containsRole('SuperAdmin')" class="dropdown-item" href="javascript:void(0);" [routerLink]="['/Commons/city']">Ciudades</a>
            <a *ngIf="containsRole('SuperAdmin')" class="dropdown-item" href="javascript:void(0);" [routerLink]="['/Commons/neighborhood']">Barrios</a>
            <a *ngIf="containsRole('SuperAdmin')" class="dropdown-item" href="javascript:void(0);" [routerLink]="['/Commons/zone']">Zonas</a>
            <div *ngIf="containsRole('SuperAdmin')" class="dropdown-divider"></div>
            <a *ngIf="containsRole('SuperAdmin')" class="dropdown-item" href="javascript:void(0);" [routerLink]="['/Properties/iva']">Impuestos</a>
            <a *ngIf="containsRole('SuperAdmin')" class="dropdown-item" href="javascript:void(0);" [routerLink]="['/Properties/propertyCategory']">Categorias</a>
            <a *ngIf="containsRole('SuperAdmin')" class="dropdown-item" href="javascript:void(0);" [routerLink]="['/Properties/typeOffer']">Tipos de Oferta</a>
            <a *ngIf="containsRole('SuperAdmin')" class="dropdown-item" href="javascript:void(0);" [routerLink]="['/Properties/propertyStatus']">Estado de Inmuebles</a>
            <div class="dropdown-divider"></div>
        </div>
    </div>

    <div class="dropdown dropdown-animate menu-large">
        <a *ngIf="containsRole('SuperAdmin,CompanyAdmin,TennatUser,OwnerUser')" class="nav-link" href="javascript:void(0);" role="button" id="dropdownDocs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Personas
      <i class="dropdown-toggle-icon fi-rr-angle-down"></i>
      <i class="dropdown-toggle-icon fi-rr-angle-up"></i>
    </a>
        <div class="dropdown-menu dropdown-menu-arrow p-lg-3" aria-labelledby="dropdownDocs">
            <a *ngIf="containsRole('SuperAdmin,CompanyAdmin,OwnerUser')" class="dropdown-item" href="javascript:void(0);" [routerLink]="['/Owners/owner']">Propietarios</a>
            <a *ngIf="containsRole('SuperAdmin,CompanyAdmin,TennatUser')" class="dropdown-item" href="javascript:void(0);" [routerLink]="['/Tenants/tenant']">Arrendatarios</a>
            <div class="dropdown-divider"></div>
        </div>
    </div>

    <div class="dropdown dropdown-animate menu-large">
        <a *ngIf="containsRole('SuperAdmin,CompanyAdmin,ContractUser')" class="nav-link" href="javascript:void(0);" role="button" id="dropdownDocs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Contratos
      <i class="dropdown-toggle-icon fi-rr-angle-down"></i>
      <i class="dropdown-toggle-icon fi-rr-angle-up"></i>
    </a>
        <div class="dropdown-menu dropdown-menu-arrow p-lg-3" aria-labelledby="dropdownDocs">
            <a *ngIf="containsRole('SuperAdmin,CompanyAdmin,ContractUser')" class="dropdown-item" href="javascript:void(0);" [routerLink]="['/Contracts/contract']">Contratos</a>
            <div class="dropdown-divider"></div>
            <a *ngIf="containsRole('SuperAdmin')" class="dropdown-item" href="javascript:void(0);" [routerLink]="['/Contracts/contractsStatus']">Estado de contratos</a>
            <a *ngIf="containsRole('SuperAdmin')" class="dropdown-item" href="javascript:void(0);" [routerLink]="['/Contracts/tenantsByContract']">Arrendatarios x contrato</a>
        </div>
    </div>

    <div class="dropdown dropdown-animate menu-large">
        <a *ngIf="containsRole('SuperAdmin,CompanyAdmin,FinanceUser')" class="nav-link" href="javascript:void(0);" role="button" id="dropdownwidgets" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Finanzas
      <i class="dropdown-toggle-icon fi-rr-angle-down"></i>
      <i class="dropdown-toggle-icon fi-rr-angle-up"></i>
    </a>
        <div class="dropdown-menu dropdown-menu-arrow p-lg-3" aria-labelledby="dropdownwidgets">
            <a *ngIf="containsRole('SuperAdmin,CompanyAdmin,FinanceUser')" class="dropdown-item" href="javascript:void(0);" [routerLink]="['/Banks/bankAccount']">Cuentas de Banco</a>
            <a *ngIf="containsRole('SuperAdmin,CompanyAdmin,FinanceUser')" class="dropdown-item" href="javascript:void(0);" [routerLink]="['/Banks/accountsToReceivableContract']">Cuentas por cobrar</a>
            <a *ngIf="containsRole('SuperAdmin,CompanyAdmin,FinanceUser')" class="dropdown-item" href="javascript:void(0);" [routerLink]="['/Banks/accountsToPayContract']">Cuentas por pagar</a>
            <a *ngIf="containsRole('SuperAdmin,CompanyAdmin,FinanceUser')" class="dropdown-item" href="javascript:void(0);" [routerLink]="['/Banks/historyBankAccount']">Transacciones</a>
            <a *ngIf="containsRole('SuperAdmin,CompanyAdmin,FinanceUser')" class="dropdown-item" href="javascript:void(0);" [routerLink]="['/Banks/paymentType']">Tipos de pago</a>
            <div class="dropdown-divider"></div>
            <a *ngIf="containsRole('SuperAdmin')" class="dropdown-item" href="javascript:void(0);" [routerLink]="['/Banks/accountsStatus']">Estado Cuentas</a>

        </div>
    </div>

    <div class="dropdown dropdown-animate menu-large">
        <a *ngIf="containsRole('SuperAdmin,CompanyAdmin,IntegrationsUser')" class="nav-link" href="javascript:void(0);" role="button" id="dropdownDocs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Integraciones con portales
      <i class="dropdown-toggle-icon fi-rr-angle-down"></i>
      <i class="dropdown-toggle-icon fi-rr-angle-up"></i>
    </a>
        <div class="dropdown-menu dropdown-menu-arrow p-lg-3" aria-labelledby="dropdownDocs">
            <a *ngIf="containsRole('SuperAdmin,CompanyAdmin,IntegrationsUser')" class="dropdown-item" href="javascript:void(0);" [routerLink]="['/projects/card-list']">Integraciones</a>
            <div class="dropdown-divider"></div>
            <a *ngIf="containsRole('SuperAdmin')" class="dropdown-item" href="javascript:void(0);" [routerLink]="['/projects/card-list']">Estado Integraciones</a>
        </div>
    </div>

    <div class="dropdown dropdown-animate menu-large">
        <a *ngIf="containsRole('SuperAdmin,CompanyAdmin')" class="nav-link" href="javascript:void(0);" role="button" id="dropdownDocs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Configuraciones
      <i class="dropdown-toggle-icon fi-rr-angle-down"></i>
      <i class="dropdown-toggle-icon fi-rr-angle-up"></i>
    </a>
        <div class="dropdown-menu dropdown-menu-arrow p-lg-3" aria-labelledby="dropdownDocs">
            <a *ngIf="containsRole('SuperAdmin,CompanyAdmin')" class="dropdown-item" href="javascript:void(0);" [routerLink]="['/Companies/company/edit/', currentUser?.companyId]">Inmobiliaria</a>
            <div class="dropdown-divider"></div>
        </div>
    </div>
    <!-- End >> Dropdown menu -->

    <!-- Start >> Navbar items icons  -->
    <div class="ml-auto">
        <ul class="navbar-nav">

            <!-- Menu collapse icon -->
            <li class="nav-item dropdown dropdown-animate menu-small">
                <a class="btn btn-icon btn-menu-small ghost-default" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fi-rr-apps-sort"></i>
                </a>
            </li>

            <!-- Nav item notifications -->
            <li class="nav-item dropdown dropdown-animate">
                <a class="btn btn-icon ghost-secondary" role="button" data-toggle="dropdown" aria-haspopup="true" aria-label="Notifications" aria-expanded="false" href="javascript:void(0);">
                    <i class="fi-rr-bell"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg dm-icon dropdown-menu-arrow p-0">
                    <div class="py-3 px-3 border-bottom">
                        <h5 class="mb-0">Notificaciones</h5>
                    </div>
                    <div class="list-group list-group-flush">

                        <a href="javascript:void(0);" class="list-group-item list-group-item-action">
                            <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right">
                                <div>
                                    <span class="avatar circle bg-success">IN</span>
                                </div>
                                <div class="flex-fill ml-3">
                                    <div class="h6 text-sm mb-0">Soporte<small class="float-right text-muted">Nueva</small>
                                    </div>
                                    <p class="text-sm lh-140 mb-0">
                                        Si requieres ayuda o capacitación escribenos por whatapp al 3016098645
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="py-3 text-center">
                        <a href="javascript:void(0);" class="link link-sm text-sm">Ver todas las notificaciones</a>
                    </div>
                </div>
            </li>

            <!-- Nav item options -->
            <li class="nav-item">
                <a class="btn btn-icon ghost-tertiary" href="javascript:void(0);" [routerLink]="['/projects/card-list']"> <i class="fi-rr-settings"></i></a>
            </li>

            <!-- Nav item User -->
            <li class="nav-item">
                <div class="dropdown dropdown-animate">
                    <a class="badge badge-pill badge-transparent ghost-default user-lg" role="button" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="javascript:void(0);">
                        <img src="./assets/images/avatars/avatar-1.svg" class="user user-chip-md bg-default" alt="user-image">
                        <i class="dropdown-toggle-icon fi-rr-angle-down"></i>
                        <i class="dropdown-toggle-icon fi-rr-angle-up"></i>
                    </a>

                    <div class="dropdown-menu dm-user dropdown-menu-arrow" aria-labelledby="dropdownUser">
                        <div class="dropdown-header-user">
                            <div class="row pb-0">
                                <div class="col-md-3 col-sm-3 col-3">
                                    <img src="./assets/images/avatars/avatar-1.svg" class="user user-chip-xxlg bg-default aling-center-vertically" alt="user-image">
                                </div>
                                <div class="col-md-9 col-sm-9 col-9">
                                    <h5 class="text-light">Hola, {{currentUser?.username}}</h5>
                                    <span class="text-light">Inmoapp</span>
                                </div>
                            </div>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item-user icon-center ghost-primary">
                                <a href="javascript:void(0);" [routerLink]="['/user/edit/', currentUser?.userId]">
                                    <i class="fi-rr-user mr-2"></i> <span>Mi perfil</span>
                                </a>

                            </li>
                            <li class="list-group-item-user icon-center ghost-primary">
                                <a href="javascript:void(0);" [routerLink]="['/user/edit/', currentUser?.userId]">
                                    <i class="fi-rr-user mr-2"></i> <span>Mi suscripción</span>
                                </a>
                            </li>
                            <li class="list-group-item-user icon-center ghost-primary" (click)="signOut()">
                                <i class="fi-rr-sign-out mr-2"></i> Salir
                            </li>
                        </ul>
                    </div>
                </div>

                <span class="badge badge-pill user-sm" role="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="./assets/images/avatars/avatar-1.svg" class="user user-chip-md bg-default" alt="user-image">
        </span>
            </li>
        </ul>
    </div>
    <!-- End >> Navbar items icons  -->

    <!-- Start >> Navbar-collapse menu RESPONSIVE-->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" ngif="1==2">

        <a href="javascript:void(0);" class="d-flex justify-content-between align-items-center list-menu-title" data-toggle="collapse" data-target="#menuApplication" aria-controls="menuApplication" aria-expanded="false" aria-label="Toggle navigation">
      Inmuebles
      <i class="fi-rr-angle-down text-sm"></i>
      <i class="fi-rr-angle-up text-sm"></i>
    </a>

        <div class="collapse navbar-collapse" id="menuApplication">
            <ul class="list-group">
                <li *ngIf="containsRole('SuperAdmin,CompanyAdmin,PropertyUser')" class="list-menu-item">
                    <a class="nav-link" href="javascript:void(0);" [routerLink]="['/Properties/property']">Inmuebles</a>
                </li>
                <li *ngIf="containsRole('SuperAdmin,CompanyAdmin,PropertyUser')" class="list-menu-item">
                    <a class="nav-link" href="javascript:void(0);" [routerLink]="['/Properties/images']">Imagenes</a>
                </li>
                <li *ngIf="containsRole('SuperAdmin')" class="list-menu-item">
                    <a class="nav-link" href="javascript:void(0);" [routerLink]="['/Commons/state']">Departamentos</a>
                </li>
                <li *ngIf="containsRole('SuperAdmin')" class="list-menu-item">
                    <a class="nav-link" href="javascript:void(0);" [routerLink]="['/Commons/city']">Ciudades</a>
                </li>
                <li *ngIf="containsRole('SuperAdmin')" class="list-menu-item">
                    <a class="nav-link" href="javascript:void(0);" [routerLink]="['/Commons/neighborhood']">Barrios</a>
                </li>
                <li *ngIf="containsRole('SuperAdmin')" class="list-menu-item">
                    <a class="nav-link" href="javascript:void(0);" [routerLink]="['/Commons/zone']">Zonas</a>
                </li>
                <li *ngIf="containsRole('SuperAdmin')" class="list-menu-item">
                    <a class="nav-link" href="javascript:void(0);" [routerLink]="['/Properties/iva']">Impuestos</a>
                </li>
                <li *ngIf="containsRole('SuperAdmin')" class="list-menu-item">
                    <a class="nav-link" href="javascript:void(0);" [routerLink]="['/Properties/propertyCategory']">Categorias</a>
                </li>
                <li *ngIf="containsRole('SuperAdmin')" class="list-menu-item">
                    <a class="nav-link" href="javascript:void(0);" [routerLink]="['/Properties/typeOffer']">Tipos de Oferta</a>
                </li>
                <li *ngIf="containsRole('SuperAdmin')" class="list-menu-item">
                    <a class="nav-link" href="javascript:void(0);" [routerLink]="['/Properties/propertyStatus']">Estado de Inmuebles</a>
                </li>
            </ul>
        </div>

        <a *ngIf="containsRole('SuperAdmin,CompanyAdmin,TennatUser,OwnerUser')" href="javascript:void(0);" class="d-flex justify-content-between align-items-center list-menu-title" data-toggle="collapse" data-target="#menuWidgets" aria-controls="menuWidgets"
            aria-expanded="false" aria-label="Toggle navigation">
      Personas
      <i class="fi-rr-angle-down text-sm"></i>
      <i class="fi-rr-angle-up text-sm"></i>
    </a>

        <div class="collapse navbar-collapse" id="menuWidgets">
            <ul class="list-group">
                <li *ngIf="containsRole('SuperAdmin,CompanyAdmin,OwnerUser')" class="list-menu-item">
                    <a class="nav-link" href="javascript:void(0);" [routerLink]="['/Owners/owner']">Propietarios</a>
                </li>
                <li *ngIf="containsRole('SuperAdmin,CompanyAdmin,TennatUser')" class="list-menu-item">
                    <a class="nav-link" href="javascript:void(0);" [routerLink]="['/Tenants/tenant']">Arrendatarios</a>
                </li>
            </ul>
        </div>

        <a *ngIf="containsRole('Superadmin,CompanyAdmin,ContractUser')" href="javascript:void(0);" class="d-flex justify-content-between align-items-center list-menu-title" data-toggle="collapse" data-target="#menuDocs" aria-controls="menuDocs" aria-expanded="false"
            aria-label="Toggle navigation">
            Contratos
            <i class="fi-rr-angle-down text-sm"></i>
            <i class="fi-rr-angle-up text-sm"></i>
          </a>

        <div class="collapse navbar-collapse" id="menuDocs">
            <ul class="list-group">
                <li *ngIf="containsRole('Superadmin,CompanyAdmin,ContractUser')" class="list-menu-item">
                    <a class="nav-link" href="javascript:void(0);" [routerLink]="['/Contracts/contract']">Contratos</a>
                </li>
                <li *ngIf="containsRole('Superadmin')" class="list-menu-item">
                    <a class="nav-link" href="javascript:void(0);" [routerLink]="['/Contracts/contractsStatus']">Estados Contratos</a>
                </li>
                <li *ngIf="containsRole('Superadmin')" class="list-menu-item">
                    <a class="nav-link" href="javascript:void(0);" [routerLink]="['/Contracts/tenantsByContract']">Arrendatarios por contrato</a>
                </li>
            </ul>
        </div>

        <a *ngIf="containsRole('SuperAdmin,CompanyAdmin,FinanceUser')" href="javascript:void(0);" class="d-flex justify-content-between align-items-center list-menu-title" data-toggle="collapse" data-target="#menuWidgets" aria-controls="menuWidgets" aria-expanded="false"
            aria-label="Toggle navigation">
            Finanzas
            <i class="fi-rr-angle-down text-sm"></i>
            <i class="fi-rr-angle-up text-sm"></i>
          </a>

        <div class="collapse navbar-collapse" id="menuWidgets">
            <ul *ngIf="containsRole('SuperAdmin,CompanyAdmin,FinanceUser')" class="list-group">
                <li class="list-menu-item">
                    <a class="nav-link" href="javascript:void(0);" [routerLink]="['/Banks/bankAccount']">Cuentas de banco</a>
                </li>
                <li class="list-menu-item">
                    <a class="nav-link" href="javascript:void(0);" [routerLink]="['/Banks/accountsToReceivableContract']">Cuentas por Cobrar</a>
                </li>
                <li class="list-menu-item">
                    <a class="nav-link" href="javascript:void(0);" [routerLink]="['/Banks/accountsToPayContract']">Cuentas por Pagar</a>
                </li>
                <li class="list-menu-item">
                    <a class="nav-link" href="javascript:void(0);" [routerLink]="['/Banks/historyBankAccount']">Transacciones</a>
                </li>
                <li class="list-menu-item">
                    <a class="nav-link" href="javascript:void(0);" [routerLink]="['/Banks/paymentType']">Tipos de pago</a>
                </li>
                <li *ngIf="containsRole('SuperAdmin')" class="list-menu-item">
                    <a class="nav-link" href="javascript:void(0);" [routerLink]="['/Banks/accountsStatus']">Estado Cuentas</a>
                </li>
            </ul>
        </div>

        <a *ngIf="containsRole('SuperAdmin,CompanyAdmin,IntegrationsUser')" href="javascript:void(0);" class="d-flex justify-content-between align-items-center list-menu-title" data-toggle="collapse" data-target="#menuDocs" aria-controls="menuDocs" aria-expanded="false"
            aria-label="Toggle navigation">
            Integraciones con portales
            <i class="fi-rr-angle-down text-sm"></i>
            <i class="fi-rr-angle-up text-sm"></i>
          </a>

        <div class="collapse navbar-collapse" id="menuDocs">
            <ul *ngIf="containsRole('SuperAdmin,CompanyAdmin,IntegrationsUser')" class="list-group">
                <li class="list-menu-item">
                    <a class="nav-link" href="javascript:void(0);" [routerLink]="['/projects/card-list']">Integraciones con portales</a>
                </li>
                <li *ngIf="containsRole('SuperAdmin')" class="list-menu-item">
                    <a class="nav-link" href="javascript:void(0);" [routerLink]="['/projects/card-list']">Estado integraciones</a>
                </li>
            </ul>
        </div>

        <a *ngIf="containsRole('SuperAdmin,CompanyAdmin')" href="javascript:void(0);" class="d-flex justify-content-between align-items-center list-menu-title" data-toggle="collapse" data-target="#menuDocs" aria-controls="menuDocs" aria-expanded="false" aria-label="Toggle navigation">
            Configuraciones
            <i class="fi-rr-angle-down text-sm"></i>
            <i class="fi-rr-angle-up text-sm"></i>
          </a>

        <div class="collapse navbar-collapse" id="menuDocs">
            <ul *ngIf="containsRole('SuperAdmin,CompanyAdmin')" class="list-group">
                <li class="list-menu-item">
                    <a class="nav-link" href="javascript:void(0);" [routerLink]="['/Companies/company/edit/', currentUser?.companyId]">Inmobiliria</a>
                </li>
            </ul>
        </div>




    </div>
    <!-- End >> Navbar-collapse menu-->

</nav>
<!-- End >> Navbar -->