<!-- Action Bar-->
<div id="actionbar" class="action-bar show-action-bar m-2">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <!-- Title -->
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <h6 class="my-1 mr-3">Finanzas / Cuentas de banco</h6>
            </div>
        </div>

        <!-- Actions -->
        <!--<div class="d-flex align-items-center">
            <span class="text-sm" for="description" *ngIf="editAction===true">Edit BankAccount</span>
            <span class="text-sm" for="description" *ngIf="editAction!==true">Create BankAccount</span>
        </div>-->
    </div>
</div>
<!-- Container -->
<div class="container mt-4">
    <div class="row mb-3">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- Listing -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 pb-2">
                    <div class="card">
                        <!-- Loader -->
                        <div class="loader-orion" *ngIf="showLoading===true">
                            <div class="spinner-grow text-primary m-auto" role="status">
                            </div>
                        </div>
                        <div class="card-header align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h5 *ngIf="editAction!==true" class="card-title m-1">Agregar cuenta de banco</h5>
                                    <h5 *ngIf="editAction===true" class="card-title m-1">Editar cuenta de banco</h5>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="frmBankAccount" (ngSubmit)="saveForm()">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="bankAccountName">Nombre de la cuenta de banco</label>
                                            <input type="text" class="form-control form-control-color" formControlName="bankAccountName" [ngClass]="{ 'is-invalid': validation && f.bankAccountName.errors }">
                                            <div *ngIf="validation && f.bankAccountName.errors" class="invalid-feedback">
                                                <div *ngIf="f.bankAccountName.errors.required">El campo Nombre de la cuenta es obligatorio</div>
                                                <div *ngIf="f.bankAccountName.errors.maxlength">La cantidad de caracteres no puede ser mayor a 50</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="total">Total</label>
                                            <input type="number" class="form-control form-control-color" value="0" formControlName="total" [ngClass]="{ 'is-invalid': validation && f.total.errors }">
                                            <div *ngIf="validation && f.total.errors" class="invalid-feedback">
                                                <div *ngIf="f.total.errors.required">El campo Total es obligatorio</div>
                                                <div *ngIf="f.total.errors.pattern">Solamente se pueden ingresar números</div>
                                            </div>
                                        </div>
                                    </div>        


                                </div>

                                <div class="row">
                                    <div class="col-12 d-flex justify-content-end mt-3">
                                        <button type="button" class="btn btn-default mr-3" [routerLink]="['/Banks/bankAccount']">Cancelar</button>
                                        <button type="button" class="btn btn-primary" type="submit">Guardar</button>
                                    </div>
                                </div>
                            </form>
                            <!-- <a href="javascript:void(0);" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>