<!-- Action Bar-->
<div id="actionbar" class="action-bar show-action-bar m-2">
    <div class="container-fluid d-flex align-items-center justify-content-between content-action-bar">
        <!-- Title -->
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <h5 class="my-1 mr-3">Contract List</h5>
            </div>
        </div>

        <!-- Actions -->
        <div class="d-flex align-items-center">
            <button class="btn btn-icon ghost-warning mr-1" type="button" placement="bottom" ngbTooltip="Filter"
                aria-label="Filter" (click)="openFilter(true)">
                <i class="fi-rr-filter"></i>
            </button>
            <button class="btn btn-icon ghost-success mr-1" type="button" placement="bottom" ngbTooltip="Add"
                aria-label="Add"  [routerLink]="['add']">
                <i class="fi-rr-plus"></i>
            </button>
        </div>
        <!-- Actions -->
    </div>
</div>
<!-- Action Bar-->

<!-- Option sidebar -->
<p-sidebar [(visible)]="showFiller" [showCloseIcon]="false" position="right" styleClass="filter-sidebar">
    <!-- Start >> Option sidebar -->
    <nav>
        <!-- Start >> Title -->
        <div class="row pb-0 mr-0 ml-0">
            <div class="col-12 filter-sidebar-title text-left">
                <h5 class="mb-4 pt-4">Filters</h5>
            </div>
        </div>
        <!-- End >> Title -->

        <!-- Start >> Options content -->
        <div class="p-4 text-left overflow-auto">
            <form [formGroup]="frmFilter">


                <div class="row pb-4">
                    <div class="col-md-12 col-sm-12 col-12">
                        <div class="form-group">
                            <label for="contractId">ContractId</label>
                            <input type="text" class="form-control form-control-color" formControlName="contractId" aria-describedby="contractId">
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-12">
                        <div class="form-group">
                            <label for="observation">Observation</label>
                            <input type="text" class="form-control form-control-color" formControlName="observation" aria-describedby="observation">
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-12">
                        <div class="form-group">
                            <label for="statusId">StatusId</label>
                            <ng-select class="form-control-color" [searchable]="false" [clearable]="false" formControlName="statusId">
                                <ng-option *ngFor="let item of contractsStatusList" [value]="item.contractsStatusId">{{item.contractsStatusName}}
                                </ng-option>
                            </ng-select>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-12">
                        <div class="form-group">
                            <label for="propertyId">PropertyId</label>
                            <ng-select class="form-control-color" [searchable]="false" [clearable]="false" formControlName="propertyId">
                                <ng-option *ngFor="let item of propertyList" [value]="item.propertyId">{{item.propertyName}}
                                </ng-option>
                            </ng-select>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-12">
                        <div class="form-group">
                            <label for="tenantId">TenantId</label>
                            <ng-select class="form-control-color" [searchable]="false" [clearable]="false" formControlName="tenantId">
                                <ng-option *ngFor="let item of tenantList" [value]="item.tenantId">{{item.tenantName}}
                                </ng-option>
                            </ng-select>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-12">
                        <div class="form-group">
                            <label for="compayId">CompayId</label>
                            <ng-select class="form-control-color" [searchable]="false" [clearable]="false" formControlName="compayId">
                                <ng-option *ngFor="let item of companyList" [value]="item.companyId">{{item.companyName}}
                                </ng-option>
                            </ng-select>
                        </div>
                    </div>


                </div>

                <div class="row mb-3">
                    <div class="col-md-6 col-sm-6 col-6 text-left">
                        <button class="btn btn-block btn-default" (click)="resetForm()">
                            Reset
                        </button>
                    </div>

                    <div class="col-md-6 col-sm-6 col-6 text-right">
                        <button class="btn btn-block btn-primary" (click)="searchList()">
                            Apply
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Start >> Options content -->
    </nav>
    <!-- End >> Option sidebar -->
</p-sidebar>

<!-- Container -->
<div class="m-sm-4 m-3">
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="card">
                <!-- Loader -->
                <div class="loader-orion" *ngIf="showLoading===true">
                    <div class="spinner-grow text-primary m-auto" role="status">
                    </div>
                </div>
                <!-- Contract Table -->
                <p-table #dt class="table" [value]="contracts" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                    currentPageReportTemplate="{first} to {last} of {totalRecords}" sortMode="multiple"
                    [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="['contractId','contractDate','innitialDate','quantityMonths','rentalFeeForOwner','rentalFeeForTennat','observation','statusId','propertyId','tenantId','compayId']"
                    styleClass="p-datatable-responsive-demo">

                    <!-- Title table -->
                    <ng-template pTemplate="caption">
                        <div class="row">
                            <div class="col-lg-9 col-md-8 col-sm-6 col-12 d-flex align-items-center">
                                <!-- Title -->
                                <h5 class="m-3">Table Contract</h5>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12 d-flex align-items-center">
                                <!-- Search -->
                                <!-- <div class="d-flex align-items-center">
                                  
                                </div> -->
                                <div class="input-group m-3">
                                    <div class="input-icon input-icon-right">
                                        <input pInputText type="text" class="form-control form-control-color"
                                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                                            placeholder="Search">
                                        <span>
                                            <i class="fi-rr-search text-muted"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-template>

                    <!-- Header table -->
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="th1" pSortableColumn="contractId">ContractId
                                <p-sortIcon field="contractId"></p-sortIcon>
                            </th>
                            <th class="th2" pSortableColumn="contractDate">ContractDate
                                <p-sortIcon field="contractDate"></p-sortIcon>
                            </th>
                            <th class="th3" pSortableColumn="innitialDate">InnitialDate
                                <p-sortIcon field="innitialDate"></p-sortIcon>
                            </th>
                            <th class="th4" pSortableColumn="quantityMonths">QuantityMonths
                                <p-sortIcon field="quantityMonths"></p-sortIcon>
                            </th>
                            <th class="th5" pSortableColumn="rentalFeeForOwner">RentalFeeForOwner
                                <p-sortIcon field="rentalFeeForOwner"></p-sortIcon>
                            </th>
                            <th class="th6" pSortableColumn="rentalFeeForTennat">RentalFeeForTennat
                                <p-sortIcon field="rentalFeeForTennat"></p-sortIcon>
                            </th>
                            <th class="th7" pSortableColumn="observation">Observation
                                <p-sortIcon field="observation"></p-sortIcon>
                            </th>
                            <th class="th8" pSortableColumn="statusId">StatusId
                                <p-sortIcon field="statusId"></p-sortIcon>
                            </th>
                            <th class="th9" pSortableColumn="propertyId">PropertyId
                                <p-sortIcon field="propertyId"></p-sortIcon>
                            </th>
                            <th class="th10" pSortableColumn="tenantId">TenantId
                                <p-sortIcon field="tenantId"></p-sortIcon>
                            </th>
                            <th class="th11" pSortableColumn="compayId">CompayId
                                <p-sortIcon field="compayId"></p-sortIcon>
                            </th>
                            <th class="th12">Actions</th>

                        </tr>
                    </ng-template>

                    <!-- Body table -->
                    <ng-template pTemplate="body" let-contract>
                        <tr>
                            <td>
                                <label class="p-column-title">ContractId</label>
                                <label class="p-right">{{contract.contractId}}</label>
                            </td>

                            <td>
                                <label class="p-column-title">ContractDate</label>
                                <label class="p-right">{{contract.contractDate | customDate}}</label>
                            </td>

                            <td>
                                <label class="p-column-title">InnitialDate</label>
                                <label class="p-right">{{contract.innitialDate | customDate}}</label>
                            </td>

                            <td>
                                <label class="p-column-title">QuantityMonths</label>
                                <label class="p-right">{{contract.quantityMonths}}</label>
                            </td>

                            <td>
                                <label class="p-column-title">RentalFeeForOwner</label>
                                <label class="p-right">{{contract.rentalFeeForOwner}}</label>
                            </td>

                            <td>
                                <label class="p-column-title">RentalFeeForTennat</label>
                                <label class="p-right">{{contract.rentalFeeForTennat}}</label>
                            </td>

                            <td>
                                <label class="p-column-title">Observation</label>
                                <label class="p-right">{{contract.observation}}</label>
                            </td>

                            <td>
                                <label class="p-column-title">StatusId</label>
                                <label class="p-right">{{contract.statusId}}</label>
                            </td>

                            <td>
                                <label class="p-column-title">PropertyId</label>
                                <label class="p-right">{{contract.propertyId}}</label>
                            </td>

                            <td>
                                <label class="p-column-title">TenantId</label>
                                <label class="p-right">{{contract.tenantId}}</label>
                            </td>

                            <td>
                                <label class="p-column-title">CompayId</label>
                                <label class="p-right">{{contract.compayId}}</label>
                            </td>

                            <td>
                                <label class="p-column-title">Actions</label>
                                <button class="btn btn-icon ghost-warning p-right" type="button" placement="bottom" arial-label="Edit"
                                    ngbTooltip="Edit" [routerLink]="['/Contracts/contract/edit/', contract.contractId]">
                                    <i class="fi-rr-pencil"></i>
                                </button>
                                <button class="btn btn-icon ghost-danger p-right" type="button" (click)="delete(contract)" placement="bottom" aria-label="Remove"
                                    ngbTooltip="Remove">
                                    <i class="fi-rr-trash"></i>
                                </button>
                            </td>


                        </tr>
                    </ng-template>

                    <!-- Empty table -->
                    <ng-template pTemplate="emptymessage">
                        <tr *ngIf="showLoading===false">
                            <td colspan="12" class="text-center">
                                No data found.
                            </td>
                        </tr>
                        <tr *ngIf="showLoading===true">
                            <td colspan="12" class="text-center">
                                <span>&nbsp;</span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
